

@font-face {
    font-family:Mr Sunshine;
    src:url('./fonts/MrSunshine.otf');
    font-style: normal;
}

:root{
    --colorWhite:#ffffff;
    --color1:#bdf0f9;
    --color2:#f95368;
    --color3:#352825;
    --color:#eeeeee;

    --fuente1:'Handlee', cursive;
    --fuente2:Mr Sunshine;
    --titulos:25px;
    --subtitulos:20px;
}


body{
    font-family:var(--fuente1);
    background-color: var(--colorWhite);
    display: flex;
    font-size: var(--subtitulos)
    
}

.menu > summary{
    font-family: var(--fuente2);
    font-size:var(--titulos);
    color:var(--color1);
}


header nav{
    display: flex;
    flex-direction: column;
    padding:30px;
    height:fit-content;
    width:20vw;
}

summary{
    list-style: none;
    cursor: pointer;
}

summary:before{
    content:'';
    padding-right: 10px;
    
}

ol > a{
    color:var(--color2);
    text-decoration:none;
    list-style:circle;
    
    
}

details[open] > .menu{
    background-color:var(--color2);
    color:#FFF;
    border-radius:5px 5px 0 0;
}

details[open].helados > summary:before{
    content: '🍦';
}
details[open].bebidas > summary:before{
    content: '🍹';
}

header{
    display: flex;
    width: 100%;
}

.slider-container{
    display:block;
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;
    width:100%;

}

.slider-slide{
    margin:auto;
    background-color: var(--color3);
    display:inline-block;
    width:100%;
    height:auto;
    aspect-ratio: 1.77;
    
}
iframe, img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.listas-botones{
    text-align: center;
}

.slider-item{
    display:inline-block;
    inline-size: 20px;
    block-size: 20px;
    background-color: var(--color2);
    border: 1px var(--color3) solid;
    border-radius: 50%;
}