*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#eeeeee;
}
.catalogo > .menu{
    color:#f95368;
}

details > .categoria{
    color:#352825;
}

ol > a{
    color:#bdf0f9;
    text-decoration:none;
    
    
}